.nav-bar-color{
    color:#707070;
}

.buy-now-button{
    background-image: linear-gradient(to bottom, black 0%, black 100%);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.container{
    margin-bottom: 50px;
}
.card-body{
    text-align: center;
}
.card{
    border: none;
    box-shadow: 5px 5px 5px lightgrey;
    border-radius: 10px;

}
.see-all-color{
    color: #FF9D00;
}
.categories-image{
    border: none;
    box-shadow: 5px 5px 5px lightgray;
    border-radius: 10px;
}
